* {
  box-sizing: border-box;

}

body {
  font-size: 20px;
  font-family: sans-serif;
  /* background-image: url(wickedbackground.svg);
  background-size: cover; */
}

.container {
  width: 70%;
  height: 550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgba(0, 0, 0, 0.244);
  padding: 3rem;
  margin-top: 2.5rem;
  background-color: #4745d2bd;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container > div {
  flex: 1;
  flex-basis: 50%;
}

form > div {
  margin: 10px 0px;
}

form label {
  display: block;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 480;
  border: none;
  padding: 10px 15px;
  background-color: #f8b50e;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
  margin-left: 1rem;
}

ul {
  list-style: none;
  margin-left:0px;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
}

.heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 700;
  margin:1rem;
  color: #10002b;
}

.sub-heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: aliceblue;
  
}

.box{
  margin-left: 1rem;
  width: 12rem;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: rgb(231, 229, 229);
}
